<section class="container content-section" id="bio">

    <div class="row wow fadeIn">

    <div class="text-center col-xs-12 col-sm-6 col-md-5 col-sm-offset-0 col-md-offset-1" >
      <h1>About Olivia</h1>
      <p>Olivia Holabird grew up in Los Angeles, CA where she began dancing at the age of three.  
        There, she trained at Los Angeles Ballet and the Colburn School under the guidance of Leslie Carothers and Jukka Aaroma.  
        She attended summer intensives with the Joffrey Ballet and American Ballet Theatre. 
        She currently attends Butler University where she will graduate with a BS in Dance-Arts Administration with an Environmental Studies minor in May 2020. 
        There, where she has performed featured roles in premiere and remastered ballet, contemporary, and modern works.  
        She also traveled with Butler Ballet across Eastern Europe in a semi-professional touring company.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-0 col-md-offset-1"> 
        <img class="img-responsive" src="img/IMG_BIO.jpg" title="{{site.title}}">
    </div>

  </div>

</section>
