<section class="container content-section" id="contact">

    <div class="row wow fadeIn">

    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <h1>Contact Me</h1>
    </div>
  </div>
  <div class="row wow fadeIn" style="margin-top:4em">

    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <form class="form-horizontal form-contact clearfix" netlify
        method="POST">

        <div class="form-group">
          <label class="message-label">Dear Olivia,</label>
          <textarea required class="message form-control" rows="8" name="body" placeholder="Type your message..."></textarea>
        </div>

        <div class="form-group">
          <label for="name">Sincerely,</label>
          <input required type="name" class="name form-control" placeholder="Your Name">
          <label for="email" class="sr-only">Email</label>
          <input required type="email" class="email form-control" name="_replyto" placeholder="Your Email">
        </div>

        <input type="submit" class="btn btn-default btn-block" value="Send">

      </form>

    </div>

    <div class="col-xs-12 col-sm-6">
      <img class="img-responsive" src="img/IMG_Final.png" title="{{site.title}}">
    </div>

  </div>

</section>