<section class="container-fluid content-section" id="experience">

  <div class="row wow fadeIn">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1 class="text-center">Experience</h1>
      {% assign sorted = site.posts | sort: "order"  %}
      {% for post in sorted %}
      <div class="experience-item">
        <h3 class="title">{{ post.title }}</h3>
        <p class="excerpt">

          {{ post.excerpt }}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>

</section>